<p>Issues</p>
<div class="container">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="report_Number">
                <th mat-header-cell *matHeaderCellDef> No. Report </th>
                <td mat-cell *matCellDef="let element"> {{element.report_Number}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="service_Id">
                <th mat-header-cell *matHeaderCellDef> Service </th>
                <ng-container *matCellDef="let element">
                    <td mat-cell *ngIf="(element.service_Id==1);"> Telefonia Fija </td>
                    <td mat-cell *ngIf="(element.service_Id==2);"> Telefonia Movil </td>
                    <td mat-cell *ngIf="(element.service_Id==3);"> Cable </td>
                    <td mat-cell *ngIf="(element.service_Id==4);"> Internet </td>
                </ng-container>
                
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="register_Timestamp">
                <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.register_Timestamp}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> status </th>
                <ng-container *matCellDef="let element">
                    <td mat-cell *ngIf="(element.status=='I');"> Ingresado </td>
                    <td mat-cell *ngIf="(element.status=='A');"> Asignado </td>
                    <td mat-cell *ngIf="(element.status=='P');"> Proceso </td>
                    <td mat-cell *ngIf="(element.status=='R');"> Resuelto </td>
                </ng-container>
                
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>