<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" [routerLink]="['/list-issues']" >Issues</a>
      <a class="nav-item nav-link" [routerLink]="['/addReport']">Add Report</a>
      
      <a class="nav-item nav-link" [routerLink]="['/edit-client']">Edit Client</a>
      <a class="nav-item nav-link" [routerLink]="['/comments']">Comments</a>
      <a class="nav-item nav-link" href="" (click) ="logOut()" >Logout</a>
  </div>
</nav>


