

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form id="employee_form" role="form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">DNI</label>
                    <input type="text" id="DNI" name="DNI" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Name</label>
                    <input type="text" id="Employee_Name" name="Employee_Name" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">First Surname</label>
                    <input type="text" id="First_Surname" name="First_Surname" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Secord Surname</label>
                    <input type="text" id="Second_Surname" name="Second_Surname" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Email</label>
                    <input type="email" id="Email" name="Email" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Password</label>
                    <input type="password" id="Password" name="Password" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="control-label">Supervised By</label>
                    <select id="Supervised" name="Supervised" class="form-control">
                        <option value="1">Yerlin Leal</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="row">
            <button type="submit" form="employee_form" class="btn btn-primary">Create</button>
            <button type="reset" form="employee_form" class="btn btn-danger">Cancel</button>
        </div>
    </div>

</div>

<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <table id="example" class="table table-hover responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Phone Number</th>
                        <th>Profession</th>
                        <th>Date of Birth</th>
                        <th>App Access</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">EB</div>

                                    <div class="">
                                        <p class="font-weight-bold mb-0">Ethan Black</p>
                                        <p class="text-muted mb-0">ethan-black@example.com</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>(784) 667 8768</td>
                        <td>Designer</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge badge-success badge-success-alt">Enabled</div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-icon" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h" data-toggle="tooltip" data-placement="top"
                                       title="Actions"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#"><i class="fas fa-pencil mr-2"></i> Edit Profile</a>
                                    <a class="dropdown-item text-danger" href="#"><i class="fas fa-trash mr-2"></i> Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-pink mr-3">JR</div>

                                    <div class="">
                                        <p class="font-weight-bold mb-0">Julie Richards</p>
                                        <p class="text-muted mb-0">julie_89@example.com</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td> (937) 874 6878</td>
                        <td>Investment Banker</td>
                        <td>13/01/1989</td>
                        <td>
                            <div class="badge badge-success badge-success-alt">Enabled</div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-icon" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-horizontal-rounded" data-toggle="tooltip" data-placement="top"
                                       title="Actions"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#"><i class="bx bxs-pencil mr-2"></i> Edit Profile</a>
                                    <a class="dropdown-item text-danger" href="#"><i class="bx bxs-trash mr-2"></i> Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row py-5">
        <div class="col-12">
            <h6 class="small text-danger">Currently I'm just experimenting with this stuff, so there might be lots of redundant CSS.</h6>
        </div>
    </div>
</div>