#mainNav .navbar-toggler {
    background: #007bff;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 20px;
}

*::selection {
    background: #007bff;
    text-shadow: none;
    color: white;
}

.nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #007bff !important;
}

#mainNav .navbar-brand img {
    height: 4em;
}

header.masthead .masthead-heading {
    -webkit-text-stroke: 0.5px #020053;
}

header.masthead .masthead-subheading {
    -webkit-text-stroke: 1px #020053;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: blue !important;
}

.navbar-brand svg, #mainNav.navbar-shrink .navbar-brand img {
    height: 3.5rem;
}

.dataTables_length, div.dataTables_info {
    text-align: left;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    color: #007bff;
}